name: NPM Auto Deprecate

on:
  schedule:
    - cron: '0 0 * * *'

env:
  TURBO_TELEMETRY_DISABLED: 1

permissions:
  contents: read

jobs:
  auto-deprecate:
    name: NPM Auto Deprecate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 24

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Run NPM Auto Deprecate
        run: yarn npm-deprecate
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
