name: NPM Deprecate PR versions On Merge

on:
  pull_request:
    types:
      - closed

env:
  TURBO_TELEMETRY_DISABLED: 1

permissions:
  contents: read

jobs:
  auto-deprecate:
    name: NPM Auto Deprecate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Run NPM Auto Deprecate
        run: yarn npm-deprecate --name "*pr-${{ github.event.number }}*" -d -v
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
