name: Publish
run-name: Publish @kingsworld/${{ inputs.package }}

on:
  workflow_dispatch:
    inputs:
      package:
        description: The package to release
        required: true
        type: choice
        options:
          - cron
      skip-automatic-bump:
        description: Whether to skip the automatic bumping of the package version
        required: false
        default: false
        type: boolean
      build:
        description: Whether to run `yarn build` before publishing
        required: false
        default: true
        type: boolean

concurrency:
  group: ${{ github.workflow }}|${{ github.head_ref || github.ref }}|${{ inputs.package }}
  cancel-in-progress: true

env:
  TURBO_TELEMETRY_DISABLED: 1

jobs:
  publish:
    name: Publish @kingsworld/${{ inputs.package }}
    runs-on: ubuntu-latest
    if: github.repository_owner == 'Kings-World'
    permissions:
      id-token: write
    steps:
      - name: Generate Access Token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        with:
          app-id: ${{ secrets.KINGS_WORLD_APP_ID }}
          private-key: ${{ secrets.KINGS_WORLD_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Checkout Project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
          ref: main
          persist-credentials: false
          token: ${{ steps.app-token.outputs.token }}

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Configure Git
        run: |
          git remote set-url origin "https://oauth2:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Build Package
        if: ${{ inputs.build }}
        run: yarn build

      - name: Bump versions and release
        working-directory: packages/${{ inputs.package }}
        run: |
          if [ "${{ inputs.skip-automatic-bump }}" = "true" ]; then
            yarn bump --skip-automatic-bump
          else
            yarn bump
          fi
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Publish to NPM
        working-directory: packages/${{ inputs.package }}
        run: |
          yarn config set npmAuthToken ${NODE_AUTH_TOKEN}
          yarn config set npmPublishRegistry "https://registry.yarnpkg.com"
          yarn npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
